.header {
  background-image: url("https://www.hostmaster.ua/img/top1.png");
  background-repeat: no-repeat;
  background-color: #c6dcdc;
  height: 84px;
}

.header div {
  margin-right: 1%;
}

.nav-color {
  background-color: #233353;
}

.item-color {
  color: #f1f1ff;
}

container {
  display: flex;
}

#news-sector {
  width: 1344px;
  margin: 0 auto;
}

.news {
  width: 312px;
  margin: 16px 12px;
  padding: 5px;
  border: 1px solid black;
  background-color: #dceeee;
}

.news__header {
  border-bottom: 1px solid black;
  height: 150px;
  background-position: center;
  background-size: cover;
}

.news__header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.news__header > p {
  font-weight: bold;
  color: white;
  text-shadow: black 1px 0 10px;
  vertical-align: sub;
  padding: 5px;
}

.news > section > p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news > a {
  display: block;
  text-align: center;
}

.bd-sidebar {
  grid-area: sidebar;
}

.bd-main {
  grid-area: main;
}

@media (min-width: 992px) {
  .bd-layout {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
  }
}

@media (max-width: 576px) {
  .header {
    height: 168px;
  }

  .header div {
    margin-top: 84px;
  }
}

@media (min-width: 1160px) {
  #news-sector {
    width: 1008px;
  }
}

@media (max-width: 1030px) {
  #news-sector {
    width: 672px;
  }
}

@media (max-width: 694px) {
    #news-sector {
        width: 336px;
    }
}
